* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(114, 114, 114);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px 15px;
    grid-auto-rows: minmax(310px, auto);
}

.txt {
    font-size: 30px;
    background-color: #fff;
    border: 2px solid;
    padding: 10px;
}
